.content {
  max-width: min(112rem, 90%);
}

#room header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#room header .buttons {
  display: flex;
}

#room header .buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#room header .buttons .button:nth-child(1) {
  margin-right: 0.8rem;
  padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

#room header .buttons .button:nth-child(2) {
  padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img {
  width: 2rem;
  height: 2rem;
}

/* QUESTION-FORM */
#question-form h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--black);
  margin-bottom: 2.4rem;
  line-height: 4.2rem;
}

#question-form form {
  padding: 1.6rem;
  border: 0.2rem solid var(--gray-blue);
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  margin-bottom: 1.6rem;
}

#question-form form textarea {
  width: 100%;
  resize: none;
  background: transparent;
}

#question-form form textarea:focus {
  outline: none;
}

#question-form form footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#question-form form footer > div {
  color: var(--icons-details);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

#question-form form footer button {
  height: auto;
  padding: 0.8rem 2.4rem;
  line-height: 2.4rem;
}

/* QUESTIONS */
.questions {
  padding-bottom: 2rem;
}

.question-wrapper {
  background: var(--light-blue);
  margin-bottom: 0.8rem;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  padding: 2.4rem;
}

.question-wrapper .question-content {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
}

.question-wrapper .question-content .user {
  padding: 14px;
  background: var(--blue);
  clip-path: circle();
  align-self: flex-start;
}

.question-wrapper .question-content p {
  color: var(--black);
  word-break: break-word;
}

.question-wrapper .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.3rem;
}

.question-wrapper .actions a {
  display: flex;
  align-items: center;
  color: var(--gray-dark);
}

.question-wrapper .actions a > img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}

.question-wrapper.read {
  background: var(--gray-medium);
}

.question-wrapper.read .question-content .user {
  background: var(--gray-blue);
}

.no-questions {
  text-align: center;
  margin-top: 5.2rem;
}

.no-questions img {
  max-width: 100%;
  margin-bottom: 1.2rem;
}

.no-questions p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.no-questions p + p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 1.3rem;
  line-height: 1.9rem;
  color: var(--gray-dark);
}
