* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --gray-dark: #4d5e77;
  --gray-blue: #a1b2cd;
  --gray-medium: #eaecf2;
  --gray-light: #e5eaf1;

  font-size: 62.5%; /* 1rem = 10px, ex 16px = 1.6rem */
}

body {
  height: 100vh;
  display: flex;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* INPUT - BUTTONS */
input,
button,
.button {
  height: 5rem;
  border-radius: 0.8rem;
}

button,
.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background: transparent;
  border: 0.2rem solid var(--blue);
  color: var(--blue);
}

/* HEADER */
.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header img {
  width: 16.7rem;
}
